:root {
  --color1: #000000;
  --color2: #ffffff;
  --color3: #ec4e20;
  --color4: rgba(38, 38, 39,0.9);
  --color5: #151517;
  --color6: #b2abf2;
  --color7: #2FE6DE;
  --color8: #18F2B2;
  --color9: #E45F1E;
  --font1:'Wonderbar';
}

